# --------------------------------------------------------------------
# enable URL rewriting for this directory and subfolders
# --------------------------------------------------------------------
# Note that you may need to edit the apache/conf/http.conf and enable
# the rewrite_module by uncommenting the following line:
#
# LoadModule rewrite_module modules/mod_rewrite.so
#
# Also change "AllowOverride None" to "AllowOverride All" in the
# <Directory "C:/mywebserver-root/htdocs">
# section
#
# documentation for mod_rewrite can be found at:
# http://httpd.apache.org/docs/current/mod/mod_rewrite.html
#
# --------------------------------------------------------------------

#RewriteEngine On

# --------------------------------------------------------------------
# 301 redirect for non-www links to www 
# --------------------------------------------------------------------

#RewriteCond %{HTTP_HOST}  ^domainname\.co\.uk [nocase]
#RewriteRule ^(.*)         http://www.domainname.co.uk/$1 [redirect=301,last]

# --------------------------------------------------------------------
# trap invalid URLs and return 410 (G=Gone)
# --------------------------------------------------------------------

#RewriteRule ^index\.cfm/(.)+\.(ico|css|js)$ - [L,G]
#RewriteRule ^.*favicon.ico$ - [L,G]

# --------------------------------------------------------------------
# exclude index.cfm from URL
# --------------------------------------------------------------------

#RewriteRule ^$ index.cfm [QSA]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.cfm/%{REQUEST_URI} [QSA,L]