/* tag styles */

h1, h2, h3, h4, h5, h6{ margin-bottom:10px; }
input, select, textarea{ margin-right:10px; }
td.chevron-right{ background:url("../img/ico-chevron-right.gif") no-repeat; }

/* layout styles */

#container{ padding-top:60px; }
#footer{ background:#F5F5F5; border-top:solid 1px #e9e9e9; margin-top:20px; padding:40px 0; width:100%; }
#image-preview{ background:#333; border:1px solid #ccc; color:#fff; display:none; padding:5px; position:absolute; }
#sortable li { list-style-type:none; background-color:white;line-height: 20px; border-top: 1px solid #DDD; padding: 4px 5px; cursor:move; }
#sortable li:nth-child(odd) { background-color:#F9F9F9; }

/* class styles */

.append-bottom{ margin-bottom:30px; }
.center{ text-align:center !important; }
.clear{ clear:both; }
.dev-mode{ position:fixed; bottom:10px; right:10px; z-index:100; }
.error{ color:#B94A48; }
.faded{ color:#888; font-style:italic; }
.hide{ display:none; }
.inline{ margin:0; }
.inline li{ display:inline-block; margin-right:10px; }
.navbar-inner{ background:#01324A; background-image: -moz-linear-gradient(center top , #01324a, #012638); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#01324a',endColorstr='#012638',GradientType=0) }
.navbar .nav > li > a, .navbar .nav > li > a:hover, .navbar .nav > li > a:visited { color:#fff; }

@media ( max-width:979px ) {
	#container{ padding-top:0; }
}

@media ( max-width:767px ) {
	#footer{ background:none; border:none; }
}