/* import Twitter Bootstrap styles */

@import url(../bootstrap/css/bootstrap.min.css);
@import url(../bootstrap/css/bootstrap-responsive.min.css);

/* tag styles */

h1, h2, h3, h4, h5, h6{ margin-bottom:10px; }
input, select, textarea{ margin-right:10px; }
p, li{ line-height:1.6em; }

/* layout styles */

#container{ padding-top:60px; }
#content{ margin-bottom:30px; }
#footer{ border-top:solid 1px #e9e9e9; padding:30px 0; }

/* class styles */

.append-top{ margin-top:15px; }
.dev-mode{ position:fixed; bottom:10px; right:10px; z-index:100; }
.error{ color:#B94A48; }
.navbar-inner{ background:#01324A; background-image:-moz-linear-gradient(center top , #01324a, #012638) !important; }
.navbar-search .search-query:-moz-placeholder { color:#333; }
.navbar-search .search-query { background-color:#f5f5f5; color:#000; }
.img-right { float:right; margin:0 0 30px 30px; }

@media ( max-width:979px ) {
	#container{ padding-top:0; }
}

@media ( max-width:767px ) {
	#footer{ background:none; border:none; }
}